.home-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


nav {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    width: 40%;
    font-family: 'Open Sans';
}

li {
    padding: 12px;
    list-style:none;
}

a {
    text-decoration: none;
}


body {
    background-color: #fff6e7;
}

.site-body{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-body{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 30px;
}

.logo{
    margin-left: 65px;
    max-height: 60px;
    max-width: auto;
}

.left-body{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 80px;
}

.title{
    font-family: Bebas Neue;
    font-size: 50px;
    font-style: normal;
    text-align: start;
    color: #673d27;
}

.desc {
    font-family: 'Open Sans';
    color: #673d27;
    font-size: 18px;
    font-style: normal;
    text-align: start;
}

.orange{
    color: #c86338
}


.illustration {
    width: 390px;
    height: 390px;
    margin-bottom: 25px;
    transform: rotate(9deg);
}

.bottom {
    width: 100%;
    height: 10%;
    display: flex;
}
.divbottom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 30%;
}
