.home-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 10%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  position: relative;
  color: #c86338;
  text-decoration: none;
  padding: 5px 0;
  transition: -5s ease;
}

.line:hover {
  color: #aa4a20;
}

.line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #aa4a20;
  transition: width 0.3s ease;
}

.line:hover::after {
  width: 100%;
}

ul {
  display: flex;
  width: 40%;
  justify-content: center;
}

li {
  padding: 12px;
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Open Sans";
  color: #c86338;
}

a.button {
  padding: 4px 8px;
  border: 1px solid buttonborder;
  border-radius: 6px;
  border-color: #c86338;
  text-decoration: none;
  color: #c86338;
}

a.button:hover {
  color: #c86338;
  transform: scale(1.1);
  box-shadow: 3px 4px 16px -3px #b38848;
}

body {
  background-color: #fff6e7;
  overflow-x: hidden;
}

.site-body {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-body {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 60px;
}

.logo {
  margin-left: 65px;
  max-height: 60px;
  max-width: auto;
}

.left-body {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 100px;
}

.title {
  font-family: Bebas Neue;
  font-size: 70px;
  font-style: normal;
  text-align: start;
  color: #673d27;
  margin-top: 10px;
}

.desc {
  font-family: "Open Sans";
  color: #673d27;
  font-size: 20px;
  font-style: normal;
  text-align: start;
  margin-bottom: 10px;
}

.orange {
  color: #c86338;
}

.illustration {
  width: 390px;
  height: 390px;
  margin-bottom: 20px;
  transform: rotate(9deg);
}

.bottom {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.divbottom {
  width: 60%;
  height: 100%;
  object-fit: cover;
  margin-top: 30px;
}

.button-desc {
  appearance: button;
  background-color: #c86338;
  background-image: none;
  border: none;
  border-radius: 8px;
  box-shadow: #fff6e7 -9px 9px 0 0, #371e13 -9px 9px 0 1px;
  box-sizing: border-box;
  color: #fff6e7;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  margin-left: 30px;
  margin-top: 10px;
  overflow: visible;
  padding: 12px 30px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-desc:focus {
  text-decoration: none;
}

.button-desc:hover {
  text-decoration: none;
  background-color: #b8552b;
}

.button-desc:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-desc:not([disabled]):active {
  box-shadow: #fff6e7 -2px 2px 0 0, #371e13 -2px 2px 0 1px;
  transform: translate(-2px, 2px);
}

.aboutus-page {
  background-color: #96654c;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.divider-abt {
  width: 100%;
  display: flex;
  justify-content: center;
}

.triangle-divider {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 120px 670px 0 670px;
  border-color: #fff6e7 transparent transparent transparent;
  transform: rotate(0deg);
  position: relative;
}

.triangle-shadow {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 150px 670px 0 670px;
  border-color: #804f37 transparent transparent transparent;
  transform: rotate(0deg);
  position: absolute;
}

.top-abt {
  width: 100%;
  height: 10%;
  display: flex;
  margin-top: 8px;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
}

.divider-contact-page {
  background-color: #fff6e7;
  height: 20dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-contact {
  width: 100%;
  height: 24%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: flex-end;
  background-color: #96654c;
}

.triangle-divider-contact {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 670px 120px 670px;
  border-color: transparent transparent #fff6e7 transparent;
  transform: rotate(0deg);
  position: relative;
}

.triangle-shadow-contact {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 670px 150px 670px;
  border-color: transparent transparent #804f37 transparent;
  transform: rotate(0deg);
  position: absolute;
}

.divider-bottom-cont {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

.divider-bottom {
  width: 60%;
}

.contact-page {
  background-color: #fff6e7;
  height: 60dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
